<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" hostNameComparisonMode="WeakWildcard"
          maxConnections="20" portSharingEnabled="false" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NewBinding1" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.1.12.48:9000/VolupiaService"
        binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="VolupiaInterfaces.IVolupiaService"
        name="VolupiaServiceEndPoint" kind="" endpointConfiguration="" />
    </client>    
  </system.serviceModel>
</configuration>